<mat-card class="user-header">
  <button class="edit-icon" mat-icon-button [matMenuTriggerFor]="meenu">
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #meenu="matMenu">
    <button mat-menu-item>
      <span (click)="editUserDetail()">Edit</span>
    </button>
  </mat-menu>
    <img src="./assets/img/profile.png" alt="">
    <div class="user-title">
        <h2>{{data.firstname}} {{data.lastname}}</h2>
        {{data.email}}
    </div>
</mat-card>

<mat-card class="mt-32">
    <button class="edit-icon" mat-icon-button [matMenuTriggerFor]="menuu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menuu="matMenu">
        <button mat-menu-item>
          <span (click)="editMenu()">Edit</span>
        </button>

      </mat-menu>
    <mat-card-header>
        <mat-card-title>Address</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        {{data.street}}<br>
        {{data.zipCode}} {{data.city}}
    </mat-card-content>
</mat-card>